In [2]:
from polygon import RESTClient
from typing import cast
from urllib3 import HTTPResponse
import json
import pandas as pd
import datetime
import pytz
import talib

API_KEY = "I0D0ldkssJgACZm3fcs9DlZAX5osmgZp"

from utils import grab_new_data_polygon
from indicators_lib import *

SyntaxError: invalid syntax (indicators_lib.py, line 8)

In [4]:
df = grab_new_data_polygon("TSLA")

In [5]:
ema = talib.EMA(df['Close'], timeperiod = 2)

In [4]:
df['SMA'] = sma

In [5]:
df

,Volume,VWAP,Open,Close,High,Low,Trades,SMA
Date,,,,,,,,
20-02-2024 00:00:00 EST,104537762.0,192.5316,196.13,193.76,198.60,189.13,1220065,NaN
21-02-2024 00:00:00 EST,103844008.0,194.8469,193.36,194.77,199.44,191.95,1059381,194.265
22-02-2024 00:00:00 EST,92739461.0,195.1994,194.00,197.41,198.32,191.36,1017519,196.090
23-02-2024 00:00:00 EST,78841917.0,193.9786,195.31,191.97,197.57,191.50,923289,194.690
26-02-2024 00:00:00 EST,111628616.0,198.8533,192.29,199.40,201.78,192.00,1169824,195.685
...,...,...,...,...,...,...,...,...
10-02-2025 00:00:00 EST,76663686.0,356.3343,356.21,350.73,362.70,350.51,1337209,356.175
11-02-2025 00:00:00 EST,117845662.0,335.4098,345.80,328.50,349.37,325.10,1942721,339.615
12-02-2025 00:00:00 EST,104510014.0,338.6290,329.94,336.51,346.40,329.12,1582150,332.505
13-02-2025 00:00:00 EST,89013891.0,351.9832,345.00,355.94,358.69,342.85,1349751,346.225
14-02-2025 00:00:00 EST,68035295.0,353.6234,360.62,355.84,362.00,347.50,1058484,355.890